In [25]:
!pip install datetime

Requirement already satisfied: datetime in ./opt/anaconda3/lib/python3.9/site-packages (5.0)
Requirement already satisfied: pytz in ./opt/anaconda3/lib/python3.9/site-packages (from datetime) (2021.3)
Requirement already satisfied: zope.interface in ./opt/anaconda3/lib/python3.9/site-packages (from datetime) (5.4.0)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.9/site-packages (from zope.interface->datetime) (58.0.4)

In [2]:
import pandas as pd
import datetime
import time

In [3]:
stock = 'AAPL'
period1 = int(time.mktime(datetime.datetime(2020, 12, 1, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2023, 12, 31, 23, 59).timetuple()))
interval = '1wk'

In [4]:
query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{stock}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [5]:
df = pd.read_csv(query_string)
df.to_csv()
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2020-11-30  121.010002  123.779999  120.010002  122.250000  120.799881
1    2020-12-07  122.309998  125.949997  120.150002  122.410004  120.957970
2    2020-12-14  122.599998  129.580002  121.540001  126.660004  125.157570
3    2020-12-21  125.019997  134.410004  123.449997  131.970001  130.404572
4    2020-12-28  133.990005  138.789993  131.720001  132.690002  131.116043
..          ...         ...         ...         ...         ...         ...
109  2023-01-02  130.279999  130.899994  124.169998  129.619995  129.619995
110  2023-01-09  130.470001  134.919998  128.119995  134.759995  134.759995
111  2023-01-16  134.830002  138.610001  133.770004  137.869995  137.869995
112  2023-01-23  138.119995  143.320007  137.899994  141.860001  141.860001
113  2023-01-25  140.889999  142.429993  138.809998  141.860001  141.860001

        Volume
0    373960400
1    452278700
2    621538100
3    433310200
4    441102200
..         ...
109  369880400
110  333283500
111  271572000
112  213847900
113   63130666

[114 rows x 7 columns]

In [6]:
dataframe = pd.DataFrame(df)
dataframe

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-11-30,121.010002,123.779999,120.010002,122.250000,120.799881,373960400
1,2020-12-07,122.309998,125.949997,120.150002,122.410004,120.957970,452278700
2,2020-12-14,122.599998,129.580002,121.540001,126.660004,125.157570,621538100
3,2020-12-21,125.019997,134.410004,123.449997,131.970001,130.404572,433310200
4,2020-12-28,133.990005,138.789993,131.720001,132.690002,131.116043,441102200
...,...,...,...,...,...,...,...
109,2023-01-02,130.279999,130.899994,124.169998,129.619995,129.619995,369880400
110,2023-01-09,130.470001,134.919998,128.119995,134.759995,134.759995,333283500
111,2023-01-16,134.830002,138.610001,133.770004,137.869995,137.869995,271572000
112,2023-01-23,138.119995,143.320007,137.899994,141.860001,141.860001,213847900
113,2023-01-25,140.889999,142.429993,138.809998,141.860001,141.860001,63130666